<div class="grid_12">
	<nav>
		<a href="/">View Site</a>
		<span> | </span>
		<a href="/dashboard">Dashboard</a>
		<span> | </span>
		<a href="/movies">Movie Database</a>
		<span> | </span>
		<a href="/add_now_showing">Now Showing</a>
		<span> | </span>
		<a href="/add_upcoming">Upcoming Movies</a>
		<span> | </span>
		<a href="/help">Help</a>
		<span> | </span>
		<a href="/logout">Logout</a>
	</nav>
</div>