<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
			<h2><span class="icon-ui-icon-circle-arrow-n"></span>&nbsp;&nbsp;&nbsp;Upcoming Movies</h2>
			<p class="lead">This page allows you to post your planned and upcoming movies. Simply add a movie to the database and then add it to the upcoming slot. Don't forget to remove it once it's showing.</p>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<form method="POST" action="/add_upcoming">
			<div class="well">
				<label for="nowShowing[Movie]">Movie:</label>
				<select name="upcoming[Movie]" class="span12">
					<% Movie.all.each do |m| %>
						<option value="<%= m.id %>"><%= m.Title %></option>
					<% end %>
				</select>
			</div>
			<div class="grid_12">
				<button type="submit" class="btn btn-large btn-success span12"><span class="icon-ui-icon-circle-check"></span>&nbsp;&nbsp;Set As Upcoming</button>
			</div>
		</form>
	</div>
</div>
<br>
<div class="row-fluid">
	<div class="span12">
		<%= partial(:upcoming) %>
	</div>
</div>