<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
			<h1><span class="icon-ui-icon-video-b"></span>&nbsp;&nbsp;&nbsp;Now Showing:</h1>
			<p class="lead">To set a movie as "Now Showing" simply pick it from the select box. Type in the now showing dates like "July 4th - July 10th." This will update the Now Showing section on the home page. If you need more help visit the help section.</p>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
			<form method="POST" action="/add_now_showing">
			<div class="well">
				<div class="row-fluid">
					<div class="span6">						
						<label for="nowShowing[Dates]">Dates:</label>
						<input type="text" class="span12" name="nowShowing[Dates]" required autofocus/>
					</div>
					<div class="span6">
						<label for="nowShowing[Movie]">Movie:</label>
						<select name="nowShowing[Movie]" class="span12" required>
							<% Movie.all.each do |m| %>
								<option value="<%= m.id %>"><%= m.Title %></option>
							<% end %>
						</select>
					</div>
				</div>				
			</div>
			<div class="row-fluid">
				<div class="span12">
					<button type="submit" class="btn btn-large btn-success span12"><span class="icon-ui-icon-circle-check"></span>&nbsp;Set as Now Showing</button>
				</div>
			</div>
			
		</form>
	</div>
</div>
<br>
<div class="row-fluid">
	<div class="span12">
		<% NowShowing.all.each do |ns| %>
			<%= partial(:now_showing, :locals => {:item => ns}) %>
			<br>

			<div class="row-fluid">
				<div class="span3">
					<a href="/remove_now_showing/<%= ns.id %>" class="span12 btn btn-large btn-danger"><span class="icon-ui-icon-circle-close"></span>&nbsp;&nbsp;Remove This Movie</a>
				</div>
			</div>
			<hr>
		<% end %>	
	</div>
</div>

