<div class="container_12 form">
	<div class="grid_12">
		<h1>El-CO Dashboard</h1>
	</div>
	<div class="grid_8">
		<p id="introText">
			Welcome to the Mission Control center of the El-Co DriveIn. Here you can add movies to your database, update what's showing & even add upcoming movies. If you just feel lost you can view the help video. 
		</p>
	</div>
	<div class="grid_12"><hr /></div>
	<div class="grid_4"> 
		<input type="button" class="button" value="Movies" onclick="window.location='/movies'">
	</div>
	<div class="grid_4"> 
		<input type="button" class="button" value="Now Showing" onclick="window.location='/add_now_showing'">
	</div>
	<div class="grid_4"> 
		<input type="button" class="button" value="Upcoming Movies" onclick="window.location='/add_upcoming'">
	</div>	
	<div class="grid_4">
		<input type="button" class="button logout" value="Log Out" onclick="window.location='/logout'">
	</div>
	<div class="grid_4">
		<input type="button" class="button" value="View Site" onclick="window.location='/'">
	</div>
	<div class="grid_4">
		<input type="button" class="button" value="Help" onclick="window.location='/help'">
	</div>	
	<div class="clear"></div>
</div>