<style type="text/css">
.form{
	text-align:center;
}
h1{
	margin-bottom:50px;
	font-size:5em;
	margin-top:40px;
}
p{
	padding-bottom:40px;
}

h3{
	padding-bottom:40px;
}
</style>
<div class="container_12 form">
	<h1>404!</h1>

	<h2>Error! Sorry, we can't find that page!</h2>
	<p>This page can't be found. This page might have been deleted, moved, or you might have entered something wrong.</p>

	<h3><a href="/">Home</a></h3>
</div>

