div class="container_12 form">
	<%= erb :_backend_menu %>
	<div class="grid_12"><h2>Help:</h2></div>
	<div class="grid_9">
		<p id="introText">El Co is an easy to use app. Select an item to learn about it.</p>
	</div>
	<div class="grid_12"><hr /></div>
	<div class="clear"></div>
	<p></p>
</div>