<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
			<h1 class="text-info"><span class="icon-ui-icon-circle-question"></span>&nbsp;&nbsp;&nbsp;Help</h1>
			<p class="lead">To learn about a feature, select it's tab. You can watch a video, or read a step by step guide.</p>
		</div>
	</div>
</div>
<ul class="nav nav-tabs" id="helpTabs">
  <li class="active"><a href="#home">Overview</a></li>
  <li><a href="#database">Movie Database</a></li>
  <li><a href="#addMovie">Adding a Movie</a></li>
  <li><a href="#nowShowing">Setting "Now Showing"</a></li>
  <li><a href="#upComing">Setting "Upcoming"</a></li>
  <li><a href="#pricing">Setting Pricing</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="home">
	<div class="row-fluid">
		<div class="span8">
			<div class="hero-unit">
				<iframe src="http://player.vimeo.com/video/41565687" width="500" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		</div>
		<div class="span4">
			<h2>Overview</h2>
			<hr>
			<p class="lead">
				Welcome to the backside of El Co. This video will give you a quick & simple overview of the website and the app that powers it. 
			</p>
			<p>
				Elco was designed with simplicity and useablity in mind. The features are very easy to use once you get the hang of it. Not only that, but the site is accessable in every major browser and on smart phones and tablets. 
			</p>
      <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <strong>We've been busy!</strong>&nbsp;We've been working hard to improve El Co. Click here to see a video of all the new features!
        <div class="row-fluid">
            <a class="btn btn-large span12" data-toggle="modal" href="#featuresModal"><span class=" icon-ui-icon-newwin"></span>&nbsp;&nbsp;View Video</a>
        </div>        
      </div>
		</div>
	</div>
  </div>
  <div class="tab-pane" id="database">
  	<div class="row-fluid">
  		<div class="span8">
  			<div class="hero-unit">
          <iframe src="http://player.vimeo.com/video/41565688" width="500" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  			</div>
  		</div>
  		<div class="span4">
  			<h2>Movie Database</h2>
  			<hr>
  			<p class="lead">The movie database is your collection of movies. This is where you can see all the movies you've ever created in the order in which they were created. Unfortunately at the moment you can not sort the database table. Other options on this page include a link to adding a movie, setting a movie as "now showing", and a link to setting movies as "upcoming." Also on the page is a dialog box showing which movie is currently showing. 
        </p>
  		</div>
  	</div>
    <div class="row-fluid">
      <div class="page-header">
        <h3>Movie Database, Step by Step:</h3>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8">
          <ol>
            <li>There are several ways to get to your Movie Database. From the dashboard, click Movie Database. Or, from the top menu, click Movies then click <em>“Movie Database.”</em></li>
            <li>
              You can add a movie to the database by clicking Add Movie. You can delete movies from your database by clicking the read X button.
              <div class="alert alert-danger">
                <span class="icon-ui-icon-alert">&nbsp;</span><strong>Remember,</strong> deleting a movie deletes it for ever!
              </div> 
            </li>
            <li>
              Once a movie has been added you’ll find it in the table. The table is sorted by the order in which the movies were added. At this time the movie table can not be sorted and no plans to add sorting are in the works. 
            </li>
          </ol>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="addMovie">
  	<div class="row-fluid">
  		<div class="span8">
  			<div class="hero-unit">
  				<iframe src="http://player.vimeo.com/video/41565688" width="500" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  			</div>
  		</div>
  		<div class="span4">
  			<h2>Adding A Movie</h2>
  			<hr>
  			<p class="lead">Having movies in your database is what makes this app work. If you don’t have a movie you can’t have a “Now Showing” or “Upcoming” movie. We’ve worked hard to make sure that adding a movie is as easy as possible.</p>
  		</div>
    </div>
  		<div class="row-fluid">
      <div class="page-header">
        <h3>Adding A Movie, Step by Step:</h3>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8">
          <ol>
            <li>There are several ways to get to the Add A Movie Page. From the dashboard, click Movie Database to enter the database. From here click “Add Movie.” Or you can click Movies from the top nav bar & then click “Add Movie.”</li>
            <li>
              Adding a movie requires that you fill out 9 forms. None of the forms are optional. If you leave one blank you can’t save the form. As you fill out the form a preview will generate at the bottom of the page so that you can see what your movie will look like.
            </li>
            <li>
              Movies have been designed to have the following elements: Title, Rating, Runtime, Description, stars, IMDB link, Reviews, Trailer & Poster all of these elements, except the poster, can be Copied and Pasted from IMDB. The poster must be taken from Wikipedia which allows Hot-Linking. This means that we are using their picture on our site. 
            </li>
            <li>
              Once you’ve copied and pasted in the all the info in the form, or, filled it out by hand, and you’ve checked the preview to make sure it’s what you want, click save.
            </li>
            <li>
              Once you save a movie you’ll be redirected to the database. You’ll see your new movie at the bottom of the database list.
            </li>
          </ol>          
      </div>
      <div class="span4">
        <div class="alert alert-danger">
              <span class="icon-ui-icon-alert">&nbsp;</span><strong>Remember,</strong>&nbsp;you have to fill out every form on this page in order to have a movie!
          </div> 
      </div>
  	</div>
    <div class="row-fluid">
      <div class="span8">
          <h4>Description of Each Field:</h4>
          <p class="muted">Fields apear in a logical order. If you copy and paste the information from IMDB you'll start at the top and work your way down starting with the Title.</p>
          <ol>
            <li><strong>Title:</strong>&nbsp;This is the title of the movie. On IMDB & Yahoo movies the year is normally included. You shouldn’t copy and paste the movie. Just the Title.</li>
            <li><strong>Rating:</strong>&nbsp;This is the rating of the movie. This helps parents decide if they’ll bring their kids or not.</li>
            <li><strong>Runtime:</strong>&nbsp;This probably isn’t that important but it will give users an idea of how long the movie is.</li>
            <li><strong>Description:</strong>&nbsp;This is a quick summery of the movie. This allows people to have an idea if they would like to see the movie or not.</li>
            <li><strong>Staring:</strong>&nbsp;This probably isn’t that important but it will give users an idea of how long the movie is.</li>
            <li><strong>IMDB Link:</strong>&nbsp;This is a list of movie stars in the movie. Some folks will come see a movie just because a certain person is in it.</li>
            <li><strong>Runtime:</strong>&nbsp;We chose IMDB because it has the most comprehensive collection of data on the movie. You can find everything you need there.</li>
            <li><strong>Reviews:</strong>&nbsp;You can paste in the critic reviews from IMDB here, or Yahoo, or Focus On The Family, or whatever reviewer you like. </li>
            <li><strong>Trailer:</strong>&nbsp;You can use Apple Trailer, IMDB, Yahoo or any other source for the videos.</li>
            <li><strong>Poster:</strong>&nbsp;People like pictures. It helps catch their eye and makes them feel like the site is “professional.”</li>
          </ol>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="nowShowing">
  	<div class="row-fluid">
  		<div class="span8">
  			<div class="hero-unit">
  				<iframe src="http://player.vimeo.com/video/40889153" width="500" height="375" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  			</div>
  		</div>
  		<div class="span4">
  			<h2>Adding "Now Showing"</h2>
  			<hr>
  			<p class="lead">The Now Showing section is probably going to be your #1 attraction on this site. So it’s important that this gets set. Setting Now showing is easy and painless. We recommend having only 1 now showing movie at a time. You can have more than one set however.</p>
  		</div>
  	</div>
    <div class="row-fluid">
      <div class="span12">
        <div class="page-header">
          <h3>Setting a Movie as "Now Showing," Step By Step</h3>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8">
        <ol>
          <li>There are several ways to get to “Now Showing.” From the Dashboard you click Movie Database. Once in the Database you click the “Now Showing” button. From the top menu, click “Movies” and then click “Now Showing.”</li>
          <li>Now showing has 2 options, both are required. You must first choose the dates for which you want the movie to be showing, and then you must choose the movie.</li>
          <li>After choosing a movie and setting dates click “Set as now showing” To set that movie as now showing.</li>
          <li>Once the movie run is done, or if you chose the wrong movie, simply click the red “Remove this movie” button to remove the movie from the list.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="upComing">
  	<div class="row-fluid">
  		<div class="span8">
  			<div class="hero-unit">
  				<iframe src="http://player.vimeo.com/video/40889040" width="500" height="375" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  			</div>
  		</div>
  		<div class="span4">
  			<h2>Adding "Upcoming"</h2>
  			<hr>
  			<p class="lead">Lots of people want to know what movies will be playing in the upcoming weeks. Not only does this help your customers to know what’s coming, but it also helps you to stay organized. If you do not set any upcoming movies, the section will not show up on the website.</p>
  		</div>
  	</div>
    <div class="row-fluid">
      <div class="span12">
        <div class="page-header">
          <h3>Adding a Movie As "Upcoming," Step by Step</h3>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8">
        <ol>
          <li>There are several ways to get to “Upcoming” From the Dashboard you click Movie Database. Once in the Database you click the “Upcoming” button. From the top menu, click “Movies” and then click “Upcoming.”</li>
          <li>Upcoming Movies has just one option, a single dropdown list that allows you to choose one movie at a time from your database to set as “Upcoming.”</li>
          <li>Once you’ve chosen a movie click the green “Set as Upcoming” button.</li>
          <li>You’ll see the movie loaded in the slot at the bottom of the page. The system loads Upcoming movies from left to right. As you remove movies, they move to the left.</li>
          <li>If you want to remove a movie from the Upcoming slot, simply click the red “Remove this Movie” button.</li>
        </ol>
      </div>
      <div class="span4">
          <div class="alert alert-info">
            <span class="icon-ui-icon-info">&nbsp;</span><strong>Remember,</strong>&nbsp;If you don't set any movies as "Upcoming" the upcoming space will not apear on the home page.
          </div> 
      </div>
    </div>
  </div>
  <div class="tab-pane" id="pricing">
    <div class="row-fluid">
      <div class="span8">
        <div class="hero-unit">
          <iframe src="http://player.vimeo.com/video/40889040" width="500" height="375" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <div class="span4">
        <h2>Setting Pricing</h2>
        <hr>
        <p class="lead">The site comes with the prices you gave us hard coded in. However, you might need to add a menu item to your concession stand or you might need to raise ticket prices. If that's the case we've got you covered by allowing you to add items to your menu list or change their prices. </p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="page-header">
          <h3>Adding a Movie As "Upcoming," Step by Step</h3>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8">
        <ol>
          <li>There are several ways to get to “Upcoming” From the Dashboard you click Movie Database. Once in the Database you click the “Upcoming” button. From the top menu, click “Movies” and then click “Upcoming.”</li>
          <li>Upcoming Movies has just one option, a single dropdown list that allows you to choose one movie at a time from your database to set as “Upcoming.”</li>
          <li>Once you’ve chosen a movie click the green “Set as Upcoming” button.</li>
          <li>You’ll see the movie loaded in the slot at the bottom of the page. The system loads Upcoming movies from left to right. As you remove movies, they move to the left.</li>
          <li>If you want to remove a movie from the Upcoming slot, simply click the red “Remove this Movie” button.</li>
        </ol>
      </div>
      <div class="span4">
          <div class="alert alert-info">
            <span class="icon-ui-icon-info">&nbsp;</span><strong>Remember,</strong>&nbsp;If you don't set any movies as "Upcoming" the upcoming space will not apear on the home page.
          </div> 
      </div>
    </div>
  </div>
</div>
<br>
<div class="modal hide" id="featuresModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>New Features</h3>
  </div>
  <div class="modal-body">
    <p>We've been working hard on El Co, see whats new!</p>
    <iframe src="http://player.vimeo.com/video/41565688" width="500" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Done</a>
  </div>
</div>
<script>
  $('#featuresModal').modal('hide');
  $(function () {
    	$('#helpTabs a:first').tab('show');
	});
	$('#helptabs a').click(function (e) {
	  e.preventDefault();
	  $(this).tab('show');
	});
</script>

