<div  class="container_12">
		<div id="home">
			<div class="grid_6">
				<div id="logo">El•Co Drive In</div>
<!-- 				<p id="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum mollis cursus. Pellentesque sed elit ipsum, aliquet vehicula libero. Etiam lacus elit, aliquet vestibulum tristique ut, tempus bibendum tortor. Vestibulum nulla tellus, commodo vel tempus sit amet, pharetra ac nunc. Suspendisse tincidunt aliquam nunc, vel semper est pretium vel. Vestibulum sit amet porttitor nulla. Phasellus id lacus risus, id vulputate tellus. Maecenas nec dolor diam, et eleifend erat. Maecenas ac vestibulum mi. Suspendisse nec felis eget nunc mollis tincidunt.</p> -->
			</div>
			<div class="grid_6">
				<a id="contact" href="#">Contact El Co</a>
				<!-- <img src="/images/elco_theaterimage.jpg" /> -->
			</div>
			<div class="clear"></div>
		</div>
		<div id="content">
			
			<% NowShowing.all.each do |ns| %>
				<%= partial(:now_showing, :locals => {:item => ns}) %>
			<% end %>

			<div class="grid_12"><hr /></div>
			<%= partial(:upcoming) %>
			<div class="grid_12"><hr /></div>
			<div id="pricing">
				<div class="grid_12">
					<h2>Pricing & Concessions:</h2>
				</div>
				<div class="grid_6 suffix_1">
					<p>Shows start every Friday and Saturday at dark. Admission is $10.00 per full car and $8.00 for 2 people. Please refrain from bringing food or drinks as the theater provides these items: Pop & Water, Popcorn, ShowDogs & an assortment of candies.</p>
				</div>
				<div id="concessions">
					<div class="grid_1">
						<div class="icons" id="iconPopcorn">Popcorn: $4.00</div>
						<p>$4.00</p>
					</div>
					<div  class="grid_1">
						<div class="icons" id="iconShowdog">Showdogs: $2.00</div>
						<p>$2.50</p>
					</div>
					<div class="grid_1">
						<div class="icons" id="iconDrink">Drinks: $2.00</div>
						<p>$2.00</p>
					</div>
					<div class="grid_1">
						<div class="icons" id="iconCandy">Candy: $2.00</div>
						<p>$1.00</p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="location">
				<div class="grid_12">
					<h2>How to find us:</h2>
				</div>
				<div class="grid_6">
					<p>We are located at Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum mollis cursus. Pellentesque sed elit ipsum, aliquet vehicula libero. Etiam lacus elit, aliquet vestibulum tristique ut, tempus bibendum tortor. Vestibulum nulla tellus, commodo vel tempus sit amet, pharetra ac nunc.</p>
				</div>
				<div class="grid_6">
					<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=shattuck,+ok&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=63.343847,85.693359&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Shattuck,+Ellis,+Oklahoma&amp;ll=36.275873,-99.881232&amp;spn=0.032106,0.041842&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=shattuck,+ok&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=63.343847,85.693359&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Shattuck,+Ellis,+Oklahoma&amp;ll=36.275873,-99.881232&amp;spn=0.032106,0.041842&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="footer">
			<div class="grid_12">
				<nav>
					<span>© 2011 Ellis County Drive-in</span>
					<span> | </span>
					<span>(580) 123-4567</span>
					<span> | </span>
					<span><a href="mailto:info@elcodrivein.com">info@elcodrivein.com</a></span>
				</nav>
			</div>
		</div>

</div>