<! DOCTYPE html>
<html>
<head>
	<title>El-Co Drive In</title>
	<link rel="stylesheet" type="text/css" href="styles/960.css">
	<link rel="stylesheet" type="text/css" href="styles/master.css">
</head>
<body>
	<%= yield %>
</body>
</html>
