<div class="container_12 form">
	<div class="grid_12"> <h1>Please Log In:</h1></div>
	<div class="grid_12">
		<hr />
	</div>
	<div class="grid_6 prefix_3 suffix_3">
		<form>
			<label>Password:</label>
			<input type="password"/>
			<input type="submit" class="button">
		</form>
	</div>
</div>